.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0px 20px 20px 10px;
    text-align: center;
    line-height: 1.6em;
    font-weight: bold;
    font-size: 24px;
    background-color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(214, 214, 214);
}

.button:active {
    background-color: rgb(151, 151, 151);
}

.addForm {
    font-size: 24px;
    height: 40px;
    width: 200px;
}

.addFormCityCode {
    width: 60px;
    margin: 0px 0px 0px 20px;
}
